{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="en">
<!--begin::Head-->
<head>
    <base href="">
    <meta charset="utf-8"/>
    <title> House Rent | Find the best apartment for you </title>
    <meta name="description" content="Updates and statistics"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="canonical" href=""/>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/quill/quill.snow.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"></script>
    <link href="{% static 'plugins/django_select2/django_select2.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        .filter-section {
            background: url("{% static 'images/bg/bg-8.jpg' %}");
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .form-section {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    </style>

</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body">

{% include 'menu.html' %}

<section class="filter-section">
    <div class="container">
        <div class="row">
            <div class="card-body text-center">
                <h2>Contacts us</h2>
            </div>
        </div>
    </div>
</section>

<section class="form-section">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="card card-custom gutter-b">
                    {% include 'includes/form.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}



<!--begin::Global Theme Bundle(used by all pages)-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'plugins/global/toastr.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<script src="{% static 'plugins/quill/quill.min.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/quill/quill-textarea.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/django_select2/django_select2.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}"></script>
{#<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>#}
{#<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>#}

<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script type="text/javascript"
        src="https://www.jqueryscript.net/demo/performance-youtube-video-embed/jquery.embedVideo.js?v=1.1"></script>
<script type="text/javascript">
    function onYouTubeIframeAPIReady() {
        $('.embed-video').embedVideo({
            enablejsapi: 1,
            callback: function (iframe) {
                player = new YT.Player(iframe, {
                    events: {
                        'onReady': function () {
                            if (!$(iframe).parent().data('autoplay')) {
                                player.playVideo();
                            }
                        }
                    }
                });
            }
        });
    }
</script>

{% if messages %}
    <script>
        {% for message in messages %}
            toastr['{{ message.tags }}']("{{ message }}");
        {% endfor %}
    </script>
{% endif %}

</body>
</html>