<footer class="bg-dark pt-30 pb-30">
    <div class="container">
    <div class="content">
        <div class="row">
            <div class="col-lg-3">
                <div class="link-box">
                    <div class="link-box__title">Gallery</div>
                    <div class="link-box__link">Community</div>
                    <div class="link-box__link">Trending</div>
                    <div class="link-box__link">picks</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="link-box">
                    <div class="link-box__title">Marketplace</div>
                    <div class="link-box__link">trending</div>
                    <div class="link-box__link">best selling</div>
                    <div class="link-box__link">latest</div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="link-box">
                    <div class="link-box__title">Magazine</div>
                    <div class="link-box__link">art skills</div>
                    <div class="link-box__link">carreer</div>
                    <div class="link-box__link">inspiration</div>
                    <div class="link-box__link">news</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="link-box">
                    <div class="link-box__title">Newsletter</div>
                    <div class="link-box__subscribe-description">
                        Subscribe to our newsletter to get your weekly dose of news,
                        updates, tips and special offers.
                    </div>

                </div>
            </div>
        </div>
        <div class="seprator"></div>
        <div class="row justify-content-between">
            <div class="col-auto mb-4 mb-lg-0">
                <div class="privacy-box">Privacy Policy . Terms and conditions</div>
            </div>
            <div class="col-auto">
                <div class="social-media-box">Dribbble . Behance . Instagram</div>
            </div>
        </div>
    </div>
</div>
</footer>

